.tracks-index-container {
  width: 100%;
  min-height: 100%;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.tracks-index-item {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tracks-index-new-track {
  width: 80%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 60px;
}

.tracks-index-gem {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.tracks-index-header {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 120px;
  margin-bottom: 14px;
}

.tracks-index-header-all {
  width: 80%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 60px;
  margin-bottom: 14px;
}

.tr-index-text {
  font-family: "Circular-Book";
  font-size: 16px;
  color: white;
  letter-spacing: 4px;
}

.diamond-icon-index {
  font-size: 16px;
  color: white;
  margin-right: 10px;
}

.tii-text {
  font-family: "Circular-Book";
  font-size: 14px;
  color: rgba(255,255,255,0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.tii-text-dark {
  font-family: "Circular-Book";
  font-size: 14px;
  color: rgba(55,55,55,0.75);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-spacing-4 {
  letter-spacing: 4px;
}

.tii-head {
  margin-right: 8px;
}



.tti-text-width {
  width: 35px;
}


.tti-text-width-big {
  width: 190px;
}

.flex-width {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}

.flex-width-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}


.admin-index-button {
  font-family: "Circular-Bold";
  font-size: 16px;
  color: white;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}


.horizontal-separator {
  width: 70%;
  border-bottom: 1px solid rgba(255,255,255,0.7);
  margin-top: 10px;
  margin-bottom: 10px;
}

.text-bold {
  font-family: "Circular-Bold";
}


.text-medium {
  font-family: "Circular-Medium";
}


@media (max-width: 768px) {
  .tr-index-text {
    font-family: "Circular-Book";
    font-size: 13px;
    color: white;
    letter-spacing: 3px;
  }
  .tii-text {
    font-size: 12px;
  }
}

.done-track {
  color: rgba(55,55,55,0.3);
}

.current-track {
  color: rgba(55,55,55,0.7);
}


.lighter-track {
  font-family: "Circular-Black";
}
.margin-on-today-gem {
  margin-top: 6px;
  margin-bottom: 6px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}


.diamond-dark {
  color: rgba(55,55,55,0.7);
}









