/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  position: fixed;
  width: 50%;
  height: 40px;
  left: 25%;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  font-family: "Circular-Medium";
  border: none;
  font-size: 13px;
}

.alert-info {
  position: fixed;
  width: 50%;
  height: 40px;
  left: 25%;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  font-family: "Circular-Medium";
  border: none;
  font-size: 13px;
}

.alert-warning {
  position: fixed;
  width: 50%;
  height: 40px;
  left: 25%;
  top: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  color: white;
  font-family: "Circular-Medium";
  border: none;
  font-size: 13px;
}
